.content-container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80rem;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.6rem;
  }
  
  .input-group__item {
    margin-bottom: 1.2rem;
  }

  .buttonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.buttonContainer button {
	margin: 8px;
}